@CHARSET "UTF-8";

body {
}

table.entry {
	border-collapse: 		separate;
	border-spacing: 		0px;
	margin:					0px;
	padding:				0px;
	width:					100%;
}

table.list {
	border-collapse: 		separate;
	border-spacing: 		5px;
	background-color: 		#4DBEFA;
	-moz-box-shadow:		inset -9px -6px 16px rgba(99,69,96,0.51);
	-webkit-box-shadow: 	inset -9px -6px 16px rgba(99,69,96,0.51);
	box-shadow: 			inset -9px -6px 16px rgba(99,69,96,0.51);
	background-image: 		-o-linear-gradient(131deg, 		rgb(182,150,175) 0%, rgb(255,210,245) 100%);
	background-image: 		-moz-linear-gradient(131deg, 	rgb(182,150,175) 0%, rgb(255,210,245) 100%);
	background-image: 		-webkit-linear-gradient(131deg, rgb(182,150,175) 0%, rgb(255,210,245) 100%);
	background-image: 		-ms-linear-gradient(131deg, 	rgb(182,150,175) 0%, rgb(255,210,245) 100%);
	background-image: 		linear-gradient(131deg, 		rgb(182,150,175) 0%, rgb(255,210,245) 100%);
	width:					100%;
}

div#content_home div#content_entry div#content_favorit div#content_search {
	overflow: 				scroll;		/* スクロール表示 */ 
	width: 					100%;
	height: 				100%;

}

div.contents {
	display:				none;
	margin:					2px;
	padding:				5px;
}

img.capture_images {
	height: 				90px;
	width: 					90px;
	-moz-border-radius: 	15px;
	-webkit-border-radius: 	15px;
	border-radius: 			15px;
	margin-bottom: 			-3px;
}

div.cameras {
	margin-top: 			-3px;
}

img.captured_image {
	height: 				90px;
	width: 					90px;
	-moz-border-radius: 	15px;
	-webkit-border-radius: 	15px;
	border-radius: 			15px;
}

img.picture {
	width:					100%;
	-moz-border-radius: 	7px;
	-webkit-border-radius: 	7px;
	border-radius: 			7px;
	margin-bottom: 			-3px;
}

/*
.frame {
	display: 		inline-block;
	position: 		relative;
}
.frame:after {
	position: 		absolute;
	display: 		block;
	content: 		"";
	top: 			0;
	left: 			0;
	width: 			100%;
	height: 		100%;
	box-shadow: 	0 4px 10px rgba(0, 0, 0, 0.3);
	transform: 		rotate(3deg); 
	background: 	#fff;
	z-index: 		-1;
}
*/


